@if(currentStoryIndex >= playerStories.length) {
    <p>All stories have been submitted!</p>
} 
@else {
    <div>Someone else has written the prompt for this one so you just write the potential outcomes!</div>
    {{playerStories[this.currentStoryIndex].prompt}}

    <div>
        The player who gets this story will have two choices with a success and failure outcome each. Type out what happens!
    </div>
    <br>
    <div>
        {{playerStories[this.currentStoryIndex].options[0].statRequirement}}[{{statDCDifficulty(0)}}]<br>

        {{playerStories[this.currentStoryIndex].options[0].optionText}}
        <br>
        If they succeed, they gain: <br>
        @for (outcome of playerStories[this.currentStoryIndex].options[0].successResults; track outcome) {
            <div>{{outcome.impactedStat}}</div>
        }
    
        <input type="text" id="optionOneSuccess" [formControl]="optionOneSuccess" placeholder="Option One Success" />
        <br>
        If they fail, they lose: <br>
        @for (outcome of playerStories[this.currentStoryIndex].options[0].failureResults; track outcome) {
            <div>{{outcome.impactedStat}}</div>
        }
        <input type="text" id="optionOneFailure" [formControl]="optionOneFailure" placeholder="Option One Failure" />

        <br>
        or
        <br><br>

        {{playerStories[this.currentStoryIndex].options[1].statRequirement}}[{{statDCDifficulty(1)}}]<br>
        {{playerStories[this.currentStoryIndex].options[1].optionText}}
        <br>
        If they succeed, they gain: <br>
        @for (outcome of playerStories[this.currentStoryIndex].options[1].successResults; track outcome) {
            <div>{{outcome.impactedStat}}</div>
        }        
        <input type="text" id="optionTwoSuccess" [formControl]="optionTwoSuccess" placeholder="Option Two Success" />
        <br>

        If they fail, they lose: <br>
        @for (outcome of playerStories[this.currentStoryIndex].options[1].failureResults; track outcome) {
            <div>{{outcome.impactedStat}}</div>
        }
        <input type="text" id="optionTwoFailure" [formControl]="optionTwoFailure" placeholder="Option Two Failure" />
    </div>

    <div></div>

    <br>
    <button (click)="submitOutcomes()">Submit</button>
}