@if(playerTurn && !isDone) {
    <div>Hello {{player.userName}}</div>
    <div>Strength: {{player.strength}}</div>
    <div>Intellect: {{player.intellect}}</div>
    <div>Charisma: {{player.charisma}}</div>
    <div>Dexterity: {{player.dexterity}}</div>
    <div>Wealth: {{player.wealth}}</div>
    <div>Magic: {{player.magic}}</div>

    @if (storyRetrieved) {
        <br>
            {{locationLabel}}
        <br>
        <button mat-flat-button (click)="selectLocationOption(0)">{{ location.options[0].optionText }}</button>
        <br><br>
        <button mat-flat-button (click)="selectLocationOption(1)">{{ location.options[1].optionText }}</button>
        <br>
        @if (locationOutcomeDisplay.length != 0) {
            {{selectedLocationOption.attemptText}}
            @for (outcome of locationOutcomeDisplay; track outcome) {
                <div>{{outcome}} </div>
            }
        }
    }

    @if(playerStory.storyId != "" && selectedLocationOption.successResults.length != 0) {
        {{playerStory.prompt}}<br>
        {{playerStory.options[0].optionText}}
        <button mat-flat-button (click)="pickOption(0)">Option 1</button><br>
        <br>
        {{playerStory.options[1].optionText}}
        <button mat-flat-button (click)="pickOption(1)">Option 2</button><br>
    }

    @for (outcome of outcomeDisplay; track outcome) {
        <div>{{outcome}}</div><br>
    }

    @if (outcomeDisplay.length > 0) {
        <button mat-flat-button (click)="nextPlayerTurn()">Continue</button>
    }
} @else {
    It's another player's turn right now! Hold your horses
}