<mat-card class="stat-board">
    <div>{{player.userName}}</div>
    @for (playerStat of player.playerStats; track playerStat) {
        @if (!playerStat.statType.favorType) {
            <div>{{playerStat.statType.label}}: {{playerStat.value}}</div>
        }
    }
</mat-card><br>

@if(playerTurn && !isDone) {
    @if (storyRetrieved && locations.length > 0) {
        <br>
            <mat-card class="story">{{locationLabel}}</mat-card>
        <br>
        @if (locationOutcomeDisplay.length === 0) {
            <button mat-flat-button (click)="selectLocationOption(0)">{{ location.options[0].optionText }}</button>
            <br><br>
            <button mat-flat-button (click)="selectLocationOption(1)">{{ location.options[1].optionText }}</button>
            <br>
        }
        @else {
            <mat-card class="story">
                @for (outcome of locationOutcomeDisplay; track outcome) {
                    <div>{{outcome}} </div>
                }
            </mat-card>
        }
    }

    @if(playerStory.storyId != "" && selectedLocationOption.successResults.length != 0) {
        <mat-card class="story">
            {{playerStory.prompt}}<br>
        </mat-card>
        
        @if (outcomeDisplay.length === 0) {
            <br><button mat-flat-button (click)="pickOption(0)">Option 1</button><br>
            <br>
        }

        <mat-card class="story">
            {{playerStory.options[0].optionText}}
        </mat-card>
        
        @if (outcomeDisplay.length === 0) {
            <br><button mat-flat-button (click)="pickOption(1)">Option 2</button><br>
        }

        <mat-card class="story">
            {{playerStory.options[1].optionText}}
        </mat-card>

        @if (outcomeDisplay.length > 0) {
            <mat-card class="story">
                @for (outcome of outcomeDisplay; track outcome) {
                    <div>{{outcome}}</div><br>
                }
            </mat-card>

            <br><button mat-flat-button (click)="nextPlayerTurn()">Continue</button><br>
        }

        <br>
        <prequel-story-display 
            [gameCode]="gameCode" 
            [story]="playerStory"
            [isAdventureMode]="true">
        </prequel-story-display>
    }
} @else {
    It's another player's turn right now! Hold your horses
}