@if(!gameSessionCreated) {
    <h2 class="full-width">Welcome to Nowhere! The Story-telling Party Game</h2>
    <form class="join-game">
        <mat-form-field class="full-width">
          <mat-label>Game Code</mat-label>
          <input [formControl]="gameCode" (keyup)="setGameCode()" matInput placeholder="6 Character Code">
        </mat-form-field>
    
        <mat-form-field class="full-width">
            <mat-label>Character Name</mat-label>
            <input [formControl]="userName" matInput placeholder="Who are you?">
        </mat-form-field>
    </form>
    <div>       
        <button mat-flat-button	(click)="getPlayer()">Join game!</button>
    </div>
} @else {
    <game-state-manager [gameCode]="gameCodeValue" [player]="player" (gameStateChanged)="refreshPlayer($event)"></game-state-manager>
}