<div class="repercussions">
  <h2 mat-dialog-title>New Information about {{favorStatType.favorEntity}} Discovered!</h2>

  <mat-dialog-content>
    <mat-card class="instructions">
      <div>
        {{repercussions.ending?.prequelStorySucceeded ? "During your encounter with" : "Even though you failed in your encounter with" }} {{favorStatType.favorEntity}} you learned something about them!</div>
    </mat-card>

    @if (repercussions.ending?.options?.[0]?.optionText != "") {
      <div>{{favorStatType.favorEntity}} could be impressed if you successfully were able to...</div>
      <mat-card class="story">{{repercussions.ending?.options?.[0]?.optionText}}</mat-card><br>
    }

    @if (repercussions.ending?.options?.[1]?.optionText != "") {
      <div>{{favorStatType.favorEntity}} could be weakened if you successfully were able to...</div>
      <mat-card class="story">{{repercussions.ending?.options?.[1]?.optionText}}</mat-card>
    }
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="close()">Go Back</button>
    <button mat-flat-button (click)="submitOptions()">Submit</button>
  </mat-dialog-actions>
</div>