<div class="repercussions">
  <h2 mat-dialog-title>New Information about {{favorStatType.favorEntity}} Discovered!</h2>

  <mat-dialog-content>
    <mat-card class="instructions">
      <div>
        You have learned things about {{favorStatType.favorEntity}}!</div>
    </mat-card>

    @if (repercussions.ending?.options?.[0]?.optionText != "") {
      <div>If you wanted to try to impress them you could {{favorStatType.favorEntity}}</div>
      <mat-card class="story">{{repercussions.ending?.options?.[0]?.optionText}}</mat-card><br>
    }

    @if (repercussions.ending?.options?.[1]?.optionText != "") {
      <div>If you wanted to try to weaken them you could {{favorStatType.favorEntity}}</div>
      <mat-card class="story">{{repercussions.ending?.options?.[1]?.optionText}}</mat-card>
    }
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="close()">Go Back</button>
    <button mat-flat-button (click)="submitOptions()">Submit</button>
  </mat-dialog-actions>
</div>