@if(prequelOutcomeDisplay && prequelOutcomeDisplay.length > 0) {
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            @if(isAdventureMode) {
              <div>This story is a sequel:</div><br>
            } @else {
              <div>Write this one as a sequel to the story here:</div>
            }
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-card class="story">
          @for(outcome of prequelOutcomeDisplay; track outcome) {
            {{ outcome }}<br>
          }
        </mat-card><br>

        @if (!isAdventureMode) {
          <div>{{sequelTypeClarifier}}</div><br>
        }
      </mat-expansion-panel>
    </mat-accordion><br>
}