@if(prequelOutcomeDisplay && prequelOutcomeDisplay.length > 0) {
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            @if(isAdventureMode) {
              <div>This was triggered by {{prequelPlayer.userName || 'someone'}}'s choices:</div><br>
            } @else {
              <div>{{prequelPlayer.userName || 'Someone'}} chose this:</div>
            }
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-card class="story">
          @for(outcome of prequelOutcomeDisplay; track outcome) {
            {{ outcome }}<br>
          }
        </mat-card><br>

        <!-- @if (!isAdventureMode) {
          <p [innerHTML]="sequelTypeClarifier"></p><br>
        } -->
      </mat-expansion-panel>
    </mat-accordion><br>
}