@if(prequelOutcomeDisplay && prequelOutcomeDisplay.length > 0) {
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <div class="panel-title-content">
                @if(prequelPlayer.userName) {
                  <mat-chip-set><mat-chip class="player">{{prequelPlayer.userName}}</mat-chip></mat-chip-set>
                } @else {
                  <span>Someone</span>
                }
                <span>chose this:</span>
              </div>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-card class="story">
          @for(outcome of prequelOutcomeDisplay; track outcome) {
            {{ outcome }}<br>
          }
        </mat-card><br>

        <!-- @if (!isAdventureMode) {
          <p [innerHTML]="sequelTypeClarifier"></p><br>
        } -->
      </mat-expansion-panel>
    </mat-accordion><br>
}