<div class="action-buttons-container">
    @if (isGameInitialized() && player.firstPlayer) {
        <button mat-flat-button (click)="nextGamePhase()" class="action-button pulse-button">
            Start game?
        </button>
    }
    
    @if ((isGameInPreamblePhase() || isGameInCollaborativeTextWinningPhase()) && player.firstPlayer) {
        <button mat-flat-button (click)="nextGamePhase()" class="action-button pulse-button">
            Continue
        </button>
    }
    
    @if (isGameInWritingPhase() && player.firstPlayer && !activePlayerSession.startTimer) {
        <button mat-flat-button (click)="startTimer()" class="action-button pulse-button">
            Start Timer
        </button>
    }
</div>

<app-world-information [gameCode]="gameCode"></app-world-information>

@if (isGameInitialized()) {
    <mat-card class="stat-board">
        <div>{{player.userName}}</div>

        @if (player.playerStats.length > 0) {
            @for (playerStat of player.playerStats; track playerStat) {
                @if (!playerStat.statType.favorType) {
                    <div>{{playerStat.statType.label}}: {{playerStat.value}}</div>
                }
            }
        }
    </mat-card><br>

    <mat-card class="story">Hello {{player.userName}}!
        @if(adventureMap) {
            Welcome to {{adventureMap.name}}!
        } @else {
            We will soon generate our world
        }
    </mat-card>
}

@if (isGameInPreamblePhase() || isGameInCollaborativeTextWinningPhase()) {
    <p>Have someone read the text on screen!</p>
}

@if (isGameInWritePromptsPhase()) {
    <write-prompt [gameCode]="gameCode" [gameState]="gameState" [player]="player" (playerDone)="setDone($event)"></write-prompt>
}

@if (isGameInCollaborativeTextPhase()) {
    <collaborative-text 
      [gameCode]="gameCode" 
      [gameState]="gameState" 
      [player]="player" 
      [collaborativeTextPhases]="collaborativeTextPhases"
      (collaborativeTextPhaseChanged)="onCollaborativeTextPhaseChanged($event)">
    </collaborative-text>
}

@if (isGameInLocationCreationPhase()) {
    <write-location-prompt 
      [gameCode]="gameCode" 
      [gameState]="gameState" 
      [player]="player"
      (playerDone)="setDone($event)">
    </write-location-prompt>
}

@if (isGameInLocationOutcomesCreationPhase()) {
    <write-location-outcomes 
      [gameCode]="gameCode" 
      [gameState]="gameState" 
      [player]="player"
      (playerDone)="setDone($event)">
    </write-location-outcomes>
}

@if (isGameInVotingPhase()) {
    <app-voting 
      [gameCode]="gameCode" 
      [gameState]="gameState" 
      [player]="player"
      (playerDone)="setDone($event)">
    </app-voting>
}

@if (isLocationSelect()) {
    <location [gameCode]="gameCode" [gameState]="gameState" [player]="player" [storiesToPlayPerRound]="storiesToPlayPerRound" [stories]="stories" (playerDone)="setDone($event)"></location>
}

@if (isGameInWriteOutcomesPhase()) {
    <write-outcomes [gameCode]="gameCode" [gameState]="gameState" [player]="player" (playerDone)="setDone($event)"></write-outcomes>
}

@if (isGameInAdventurePhase()) {
    <adventure [gameCode]="gameCode" [gameState]="gameState" [player]="player" [activePlayerSession]="activePlayerSession" (playerDone)="setDone($event)"></adventure>
}

@if (isGameInRitualPhase()) {
    <ritual [gameCode]="gameCode" [gameState]="gameState" [player]="player" [activePlayerSession]="activePlayerSession" (playerDone)="setDone($event)"></ritual>
}

@if (isGameInWriteEndingsPhase()) {
    <write-endings [gameCode]="gameCode" [gameState]="gameState" [player]="player" (playerDone)="setDone($event)"></write-endings>
}

@if (isGameInEndingPhase()) {
    <ending [gameCode]="gameCode" [gameState]="gameState" [player]="player" [activePlayerSession]="activePlayerSession" (playerDone)="setDone($event)"></ending>
}