@if (gameState) {
    <p>Game state has changed: {{ gameState }}</p>
}

@if (isGameInitialized()) {
    <p>Hello {{player.userName}}!</p>

    @if(player.firstPlayer) {
        <p>If all players have joined, click below!</p>
        <button mat-flat-button (click)="startGame()">Start game?</button>
    }
}

@if (isGameStarted()) {
    <write-prompt [gameCode]="gameCode" [gameState]="gameState" [player]="player" (playerDone)="setDone($event)"></write-prompt>
}

@if (isLocationSelect()) {
    <location [gameCode]="gameCode" [gameState]="gameState" [player]="player" [storiesToWritePerRound]="storiesToWritePerRound" (playerDone)="setDone($event)"></location>
}

@if (isGameInWriteOutcomesPhase()) {
    <write-outcomes [gameCode]="gameCode" [gameState]="gameState" [player]="player" (playerDone)="setDone($event)"></write-outcomes>
}

@if (isGameInAdventurePhase()) {
    <adventure [gameCode]="gameCode" [gameState]="gameState" [player]="player" [activePlayerSession]="activePlayerSession" (playerDone)="setDone($event)"></adventure>
}

@if (isGameInRitualPhase()) {
    <ritual [gameCode]="gameCode" [gameState]="gameState" [player]="player" [activePlayerSession]="activePlayerSession" (playerDone)="setDone($event)"></ritual>
}

@if (isGameInWriteEndingsPhase()) {
    <write-endings [gameCode]="gameCode" [gameState]="gameState" [player]="player" (playerDone)="setDone($event)"></write-endings>
}

@if (isGameInEndingPhase()) {
    <ending [gameCode]="gameCode" [gameState]="gameState" [player]="player" [activePlayerSession]="activePlayerSession" (playerDone)="setDone($event)"></ending>
}