@if(currentStoryIndex >= playerStories.length) {
    <p>All stories have been submitted!</p>
} 
@else {    
    @if (phase === WritePhase.PROMPT) {
        @if(playerStories[currentStoryIndex].mainPlotStory) {
            <div class="instructions">Now create a one or two sentence description of an encounter with {{favorStat.favorEntity}} where you must choose to help or harm them! Someone else will get this encounter on their turn!</div><br>
            <div class="instructions-question">
                <div class="writing-stats">
                    What would {{favorStat.favorEntity}} be doing at 
                    <mat-chip-set><mat-chip class="stat">
                        {{playerStories[currentStoryIndex].location.label}}
                    </mat-chip></mat-chip-set>?
                </div>
            </div>
            <br>
        } @else {
            <div class="instructions">Create a one to two sentence description of an encounter that someone else will have on their turn!</div><br>
            <div class="instructions-question">  
                <div class="writing-stats">
                    What is something that might happen in
                    <mat-chip-set><mat-chip class="stat">
                        {{playerStories[currentStoryIndex].location.label}}
                    </mat-chip></mat-chip-set>?
                </div>
            </div><br>
        }

        <prequel-story-display
            [gameCode]="gameCode" 
            [story]="playerStories[currentStoryIndex]"
            [isAdventureMode]="false">
        </prequel-story-display>

        <mat-chip-set><mat-chip class="progress">{{numberOfPromptsWritten}} / {{numberOfPromptsToWrite}} Prompts Written</mat-chip></mat-chip-set><br>
        
        <mat-form-field class="full-width">
            <mat-label>Prompt</mat-label>
            <textarea [formControl]="prompt" matInput placeholder="Ex. You see a small child begging for scraps at the {{playerStories[currentStoryIndex].location.label}}" maxlength="300"></textarea>
            <mat-hint align="end">{{prompt.value?.length || 0}}/300</mat-hint>
        </mat-form-field>
    }

    @if (phase === WritePhase.OPTION_ONE || phase === WritePhase.OPTION_TWO) {
        @if(playerStories[currentStoryIndex].mainPlotStory) {
            <div class="instructions">
                This is a main plot story! Start by describing some things about {{favorStat.favorEntity}}.
            </div>
        } @else {
            <div class="instructions">
                Now list something you could try to resolve this prompt. These are just options! Someone else will write the outcomes.
            </div>
        }
        <br>

        @if(phase === WritePhase.OPTION_ONE) {
            <section>
                <div class="instructions-question">
                    <div class="writing-stats">
                        <span>{{getInstructionQuestionString(0)}}</span> 
                            
                        <mat-chip-set><mat-chip class="stat">
                            {{playerStories[currentStoryIndex].options[0].playerStatDCs[0].statType.label}}
                            @if (playerStories[currentStoryIndex].options[0].playerStatDCs[0].statType.favorType) {
                                with {{playerStories[currentStoryIndex].options[0].playerStatDCs[0].statType.favorEntity}}
                            }
                            [{{statDCDifficulty(0)}} difficulty]
                        </mat-chip></mat-chip-set>?
                    </div>
                </div><br>
                <mat-chip-set><mat-chip class="progress">0/2 Options Written</mat-chip></mat-chip-set><br>

                <mat-form-field class="full-width">
                    <mat-label>You could...</mat-label>
                    <input matInput placeholder="Ex. Give the child some coin" id="optionOne" [formControl]="optionOne" maxlength="40">
                    <mat-hint align="end">{{optionOne.value?.length || 0}}/40</mat-hint>
                </mat-form-field>
            </section>
        }
        @if(phase === WritePhase.OPTION_TWO) {
            <section>
                <div class="instructions-question">
                    <div class="writing-stats">
                        <span>{{getInstructionQuestionString(1)}}</span>
                        <mat-chip-set><mat-chip class="stat">
                            {{playerStories[currentStoryIndex].options[1].playerStatDCs[0].statType.label}} 
                            @if (playerStories[currentStoryIndex].options[1].playerStatDCs[0].statType.favorType) {
                                with {{playerStories[currentStoryIndex].options[1].playerStatDCs[0].statType.favorEntity}}
                            }
                            [{{statDCDifficulty(1)}} difficulty]
                        </mat-chip></mat-chip-set>?
                    </div>
                </div><br>
                <mat-chip-set><mat-chip class="progress">1/2 Options Written</mat-chip></mat-chip-set><br>
                <mat-form-field class="full-width">
                    <mat-label>You could...</mat-label>
                    <input matInput placeholder="Ex. Beat the kid up"  id="optionTwo" [formControl]="optionTwo" maxlength="40">
                    <mat-hint align="end">{{optionTwo.value?.length || 0}}/40</mat-hint>
                </mat-form-field>
            </section>
        }
    }

    @if (prompt.value || optionOne.value || optionTwo.value) {
        <mat-divider></mat-divider><br>
        <div>Story Preview:</div><br>
        @if (prompt.value) {
            <mat-card class="story">{{prompt.value}}</mat-card><br>
        }

        @if (optionOne.value || optionTwo.value) {
            <div class="writing-button-container">
                <div class="writing-buttons">
                    @if (optionOne.value) {
                        <button mat-flat-button disabled>{{optionOne.value}}</button>
                    }
                    @if (optionTwo.value) {
                        <button mat-flat-button disabled>{{optionTwo.value}}</button>
                    }
                </div><br>
            </div>
            <br>
        }
        <mat-divider></mat-divider><br>
    }

    <div class="writing-button-container">
        <div class="writing-buttons">
            @if (writingHasProgressed) {
                <button mat-flat-button (click)="goBack()" style="margin-right: 10px;">< Back</button>
            }
            <button mat-flat-button (click)="submitWriting()" [disabled]="!canSubmit()">{{aboutToSubmit ? "Submit" : "Next >"}}</button>
        </div>
    </div>
}