.map {
  position: relative;
  width: 80vw; /* Make the width 80% of the viewport width */
  height: 80vw; /* Keep the height equal to the width for a perfect circle */
  max-width: 500px; /* Set a maximum width to prevent it from becoming too large */
  max-height: 500px; /* Set a corresponding maximum height */
  margin: 0 auto; /* Center the map horizontally */
  border: 1px dashed #ccc;
  border-radius: 50%; /* Ensure the element remains circular */
  background-color: var(--mdc-filled-text-field-container-color);
  animation: glow 2s infinite;
  // box-shadow: 0 0 300px rgba(0, 0, 0) inset;
  overflow: hidden;
}

// @keyframes glow {
//   0% {
//     box-shadow: 0 0 298px rgb(173, 173, 173) inset;
//   }
//   50% {
//     box-shadow: 0 0 300px rgba(0, 0, 0) inset;
//   }
//   100% {
//     box-shadow: 0 0 298px rgb(173, 173, 173) inset;
//   }
// }

.location-button {
  position: absolute;
  display: flex;
  flex-direction: column; /* Stack image and text */
  align-items: center; /* Center image and text */
  width: 12%; /* Adjust size relative to the map */
  max-width: 100px; /* Set maximum size for larger screens */
  max-height: 100px; /* Set maximum size for larger screens */
  height: auto; /* Allow height to scale with content */
  text-align: center;
  cursor: pointer; /* Indicate clickable */
  background: transparent; /* Remove background */
  border: none; /* Remove border */
  outline: none; /* Remove focus outline */
  transition: transform 0.2s;
}

.location-button:hover {
  transform: scale(1.5); /* Scale on hover */
}

.location-icon {
  width: 100%; /* Scale icon relative to the button */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensure the image scales proportionally */
  margin-bottom: 8px; /* Add space below the icon */
}

.location-label {
  font-size: clamp(8px, 1vw, 20px); /* Ensures it scales but stays between 16px and 24px */
  color: var(--mdc-floating-label); /* Set text color */
}

.map::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px dotted #999;
  border-radius: 50%;
  pointer-events: none;
}

.instructions {
  text-align: center;
  margin-bottom: 20px;
}

.pyre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%; /* Scale the pyre relative to the map */
  max-width: 80px; /* Set a maximum size for larger screens */
  height: auto; /* Maintain aspect ratio */
}