@if (activeType?.label) {
  <mat-form-field appearance="outline" class="full-width">
    <input
      matInput
      [placeholder]="activeType!.label"
      [(ngModel)]="submissionText"
      (ngModelChange)="onTextChange()"
      maxlength="30"
      required>
    <mat-hint align="end">{{ submissionText.length }}/30</mat-hint>
  </mat-form-field>
}

<div class="repercussion-header">Class Power:</div>
<mat-button-toggle-group [value]="toggledType ?? ''" class="repercussion-toggle-group">
  <mat-button-toggle [value]="''" (click)="clearToggle()">
    No Effect
  </mat-button-toggle>
  @for (repType of repercussionTypes; track repType.name) {
    <mat-button-toggle [value]="repType.name" (click)="toggle(repType)">
      Add {{ repType.name }} Effect
    </mat-button-toggle>
  }
</mat-button-toggle-group>

<div class="repercussion-content toggled">
  @if (activeType) {
    <span class="repercussion-description">{{ activeType.description }}</span>
  }
</div>
