<div class="write-location-prompt-container">
    <div class="instructions">
        Create a location that is important in this place. You'll describe what this place is and what players can do there.
    </div><br>

    <section>
        <div class="instructions-question">
            @if (phase === WritePhase.PROMPT) {
                <div class="writing-stats">
                    {{getInstructionQuestionString()}}
                    <mat-chip-set><mat-chip class="stat">
                        {{primaryStat.label}}
                        @if (primaryStat.favorType) {
                            with {{primaryStat.favorEntity}}
                        }

                    </mat-chip></mat-chip-set>
                </div>
            }
            @if (phase === WritePhase.OPTION_ONE || phase === WritePhase.OPTION_TWO) {
                <div class="writing-stats">
                    {{getInstructionQuestionString(getCurrentOptionIndex())}}
                    @for (stat of getOptionStats(getCurrentOptionIndex()); track stat.id) {
                        <mat-chip-set><mat-chip class="stat">
                            {{stat.label}}
                            @if (stat.favorType) {
                                with {{stat.favorEntity}}
                            }
                        </mat-chip></mat-chip-set>
                    }
                </div>
            }
        </div><br>
    </section>

    <mat-divider></mat-divider><br>

    @if (locationLabel.value || optionOneText.value || optionTwoText.value) {
        <div>Location Preview:</div><br>
    } @else {
        <div>Location Example:</div><br>
    }
    <mat-card class="story">
        <strong>You travel to the {{locationLabel.value || '[Location Name]'}}</strong>
    </mat-card><br>
    <div class="writing-button-container">
        <div class="writing-buttons">
            @if (!optionOneText.value) {
                <strong>You could:</strong>
            }
            <button mat-flat-button>
                {{optionOneText.value || 'Look for clues'}}
            </button>

            @if (!optionTwoText.value) {
                <strong>Or you could:</strong>
            }
            <button mat-flat-button>
                {{optionTwoText.value || 'Pickpocket'}}
            </button>
        </div>
    </div>

    <br>
    <mat-divider></mat-divider><br>

    @if (phase === WritePhase.PROMPT) {
        <mat-form-field class="full-width">
            <mat-label>You travel to the...</mat-label>
            <input matInput placeholder="Ex. Sunken Grotto, Library, Dungeon of the Lost" [formControl]="locationLabel" maxlength="50">
            <mat-hint align="end">{{locationLabel.value?.length || 0}}/50</mat-hint>
        </mat-form-field>
    }

    @if (phase === WritePhase.OPTION_ONE) {
        <mat-form-field class="full-width">
            <mat-label>You could...</mat-label>
            <input matInput placeholder="Ex. Look for clues, Talk to the locals, Experiment with potion brews" [formControl]="optionOneText" maxlength="40">
            <mat-hint align="end">{{optionOneText.value?.length || 0}}/40</mat-hint>
        </mat-form-field>
    }

    @if (phase === WritePhase.OPTION_TWO) {
        <mat-form-field class="full-width">
            <mat-label>Or you could...</mat-label>
            <input matInput placeholder="Ex. Perform music for people, Pickpocket, Go diving" [formControl]="optionTwoText" maxlength="40">
            <mat-hint align="end">{{optionTwoText.value?.length || 0}}/40</mat-hint>
        </mat-form-field>
    }

    <div class="writing-button-container">
        <div class="writing-buttons">
            @if (phase !== WritePhase.PROMPT) {
                <button mat-flat-button (click)="goBack()" style="margin-right: 10px;">< Back</button>
            }
            <button mat-flat-button (click)="submitWriting()" [disabled]="!canSubmit()">
                {{phase === WritePhase.OPTION_TWO ? "Submit" : "Next >"}}
            </button>
        </div>
    </div>
</div>
