<mat-card class="stat-board">
    <div>{{player.userName}}</div>
    @for (playerStat of player.playerStats; track playerStat) {
        @if (!playerStat.statType.favorType) {
            <div>{{playerStat.statType.label}}: {{playerStat.value}}</div>
        }
    }
</mat-card><br>

@if (playerTurn) {
    @if (selectedRitualResponse.optionId === "") {
        <mat-card class="instructions">What will you choose to do in the final encounter? Will you attempt to impress {{favorStat.favorEntity}}?</mat-card><br>
    
        @for (ritual of rituals; track ritual) {
            @if (ritual.options[0].optionId !== "") {
                <button mat-flat-button (click)="selectRitualJob(ritual.options[0].optionId)">{{ritual.options[0].optionText}}</button><br><br>
            }
        }
        
        <br>
        <mat-card class="instructions">Or will you do the unthinkable and try to oppose them?</mat-card><br>
        @for (ritual of rituals; track ritual) {
            @if (ritual.options[1].optionId !== "") {
                <button mat-flat-button (click)="selectRitualJob(ritual.options[1].optionId)">{{ritual.options[1].optionText}}</button><br><br>
            }
        }
    } @else {
        <mat-card class="story">
        @for (outcome of outcomeDisplay; track outcome) {
            <div>{{ outcome }}</div>
        }</mat-card><br>
        <button mat-flat-button (click)="nextPlayerTurn()">Continue</button>
    }
}