@import "@angular/material/prebuilt-themes/indigo-pink.css";
/* @import "@angular/material/core/theming/prebuilt/typography.css";
@import "@angular/material/core/theming/prebuilt/roboto.css"; */

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  background: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
}

.join-game {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

mat-form-field {
  display: block;
  margin-bottom: 16px;
}

mat-form-field input {
  height: auto;
}

mat-flat-button button {
  float: right;
}
